<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CTags</string>
	<key>uuid</key>
	<string>B20B0CFF-9CEE-4C98-B606-2000A284D12D</string>
</dict>
</plist>
